%% vim: set ft=erlang : -*- erlang -*-
{require_min_otp_vsn, "OTP18"}.

{erl_opts, [warnings_as_errors,
            warn_export_all,
            warn_untyped_record]}.

{edoc_opts, [{dialyzer_specs, all},
             {report_missing_type, true},
             {report_type_mismatch, true},
             {pretty_print, erl_pp},
             {preprocess, true}]}.

{validate_app_modules, true}.

{dialyzer, [{warnings, [error_handling,
                        race_conditions,
                        unmatched_returns,
                        unknown]},
            {plt_extra_apps, [compiler]}]}.

{shell, [{apps, [tracke]}]}.

{deps, []}.

{profiles, [{test, [{erl_opts, [export_all]},
                    {deps, [meck]}]}]}.
